﻿@model Lekarze.ViewModels.DoctorsViewModel


<table class="table">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Rodzaj
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.List)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(m => item.DoctorLastName)
            </td>
            <td>
                @Html.DisplayFor(m => item.Genre.GenreName)
            </td>
            <td>
                @Html.ActionLink("Zarejestruj", "RegisterDay", new { id = item.DoctorID })
            </td>
        </tr>
    }

</table>
