﻿@model IEnumerable<Lekarze.Models.Visit>

    <ul>
        @foreach (var hour in Model)
        {
            
            <li>
                @hour.Time.ToString("H:mm")
                @Html.ActionLink("Wybierz", "Confirm", new { id = hour.VisitId })
            </li>
        }
    </ul>

