﻿@model Lekarze.ViewModels.ConfirmViewModel

@{
    ViewBag.Title = "Confirm";
}
<h3>@ViewBag.potwierdzenie</h3>
<br />
<h5>Aktualna godzina: <span id="clock">--:--:--</span></h5>
<br />
@using (Html.BeginForm("Confirmed","Clinic"))
{
    <div class="h3">
        Twoje dane:
    </div>
    <br/>
    <div class="form-group">
        @Html.LabelFor(n => Model.Person.Name)
        @Html.TextBoxFor(n => Model.Person.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => Model.Person.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(n => Model.Person.LastName)
        @Html.TextBoxFor(n => Model.Person.LastName, new { @class="form-control" })
        @Html.ValidationMessageFor(n => Model.Person.LastName)
    </div>
    <br />
    @Html.HiddenFor(n=> Model.Visit.VisitId)
    @Html.AntiForgeryToken()
    <input id="Button1" class="btn btn-primary" type="submit" value="Potwierdź" />
}

@section scripts{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Clock.js"></script>
}
