﻿
@{
    ViewBag.Title = "Index";
}

<h3>Aplikacja do rejstrowania wizyt u lekarza.</h3>
<p id="clock"></p>

<button type="button" id="js-click"> Zerejestruj </button>

@section scripts{
    <script src="~/Scripts/Clock.js"></script>
    <script>
        $(document).ready(function () {
            $("#js-click").on("click", function () {
                location.href = '@Url.Action("Register")';
            });
        });
    </script>
}
