﻿@model Lekarze.Models.Doctor

@{
    ViewBag.Title = "RegisterDay";
}

<h2>Rejestracja</h2>

<div>    
    <hr />
    <h4>Doktor</h4>
    <dl class="dl-horizontal">
        <dt>
            Imię:
        </dt>

        <dd>
            @Html.DisplayFor(m => Model.DoctorName)
        </dd>

        <dt>
            Nazwisko:
        </dt>

        <dd>
            @Html.DisplayFor(m=> Model.DoctorLastName)
        </dd>

        <dt>
            Rodzaj:
        </dt>

        <dd>
            @Html.DisplayFor(m => Model.Genre.GenreName)
        </dd>

    </dl>
</div>
<h4>Dostępne terminy:</h4>

@foreach(var days in ViewBag.listaDni)
{
    <h5>@days:</h5>
    @Html.Action("Termins", new { day = days, id = Model.DoctorID })
}

<br/>
<p>    
    @Html.ActionLink("Wróć do listy", "Register")
</p>
