﻿@model Lekarze.ViewModels.DoctorsViewModel

@{
    ViewBag.Title = "Register";
}

<h2 align="center">Rejestracja</h2>
<br />

<div align="center">
    @using (Html.BeginForm("Register", "Clinic"))
    {
        @Html.DropDownListFor(m => m.Doctor.GenreId, new SelectList(Model.Genre, "GenreId", "GenreName"), "Wszyscy lekarze", new { @class = "form-control" })
    }
</div>

<div align="center">
    @Html.Action("Register2", new { id = Model.Doctor.GenreId })
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("select").on("change", function () {
                $("form").trigger("submit");
            });
        });
    </script>
}

